<div class="span6 offset3 smurfy text-center">

	<%= simple_form_for @pic do |f| %>
		<%= f.input :title %>
	</br>
		<%= f.input :subtitle %>
	</br>
		<%= f.input :message %>
	</br>
		<%= f.submit "Save" %>

	<% end %>

</div>