<div class="smurfy span6 offset4 text-center">

	<h1 class="custom-h1">How did Kenny die?</h1>

	<%= simple_form_for @pic do |f| %>
		<%= f.input :title, label: 'What\'s this pic about?', placeholder: 'Kenny and the Moose' %>
	</br>
		<%= f.input :subtitle, label: 'More details', placeholder: 'e.g. Episode 112' %>
	</br>
		<%= f.input :message, label: 'What were Kenny\'s last words?', placeholder: 'ugh, aghhh' %>
	</br>
		<%= f.submit "Add my pic", :class => 'btn btn-warning btn-large' %>

	<% end %>

</div>